ACM/ADbg/Makefile.in
ACM/Makefile.in
ACM/ddk/Makefile.in
ACM/tinyxml/Makefile.in
Dll/Makefile.in
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
config.h.in~
config.h.in
configure
depcomp
doc/Makefile.in
doc/html/Makefile.in
doc/man/Makefile.in
dshow/Makefile.in
frontend/Makefile.in
include/Makefile.in
install-sh
libmp3lame/Makefile.in
libmp3lame/i386/Makefile.in
libmp3lame/vector/Makefile.in
ltmain.sh
mac/Makefile.in
macosx/English.lproj/Makefile.in
macosx/LAME.xcodeproj/Makefile.in
macosx/Makefile.in
misc/Makefile.in
missing
mpglib/Makefile.in
vc_solution/Makefile.in
